.pagehero{    
    min-height: 854px;
    position: relative;
    background: $lblue;
    overflow: hidden;

    .pagehero_st0{fill:#003356;}
	.pagehero_st1{fill:none;stroke:#5B89AA;stroke-width:0.75;stroke-miterlimit:10;}
    
    .bg{
        @include absolute;
        .img{
            position: absolute;
            top: 0;
            height: 680px;
            left: 50%;
            right: 0;
            margin-left: -530px;
            object-fit: cover;
            width: auto;
            img{
                @include absolute;
                object-fit: cover;
                opacity: 0;
                @include tr(2s);
            }
        }        
        .after{
            position: absolute;
            left: 50%;
            margin-left: -1250px;
            height: 100%;
            top: 0;
            svg{
                width: 2500px;
                path{
                    stroke-dasharray: 3000px 3000px;
                    stroke-dashoffset: 3000px;
                    @include tre(6s);
                }
            }
        }
    }
    .container_top{
        min-height: 774px;
        padding-top: 172px;
    }
    .container{
        position: relative;
    }
    .pretitle{
        font-weight: 600;
        font-size: 19px;
        line-height: 30px;
        margin-bottom: 155px;
        color: #fff;
        text-transform: uppercase;        
        @include fade(0,100px);
        @include tre(1s);

        a{
            color: #fff;
            @include tr(.3s);
            &:hover{
                color: $pink
            }
        }

        span {
            padding: 0 8px;
        }
    }
    .title{
        @include h1_large;
        color: #fff;
        font-family: $font-primary;        
        @include fade(0, 100px);
        @include tre(1s);
        @include trd(.2s);

        span{
            color: $pink;
        }
    }
    .text{
        margin-left: 376px;
        max-width: 759px;
        padding-bottom: 150px;        
        @include fade(0, 100px);
        @include tre(1s);
        @include trd(.4s);

        .h2{
            @include h1_small;
            color: $pink;
            margin-bottom: 20px;
        }
        p{
            color: #fff;
            @include body_medium;
            margin-bottom: 40px;
        }
    }
    @include responsive('tablet-h') {
        .text{
            margin-left: 250px;
        }
    }
    @include responsive('tablet-v') {
        .text{
            margin-left: 100px;
        }
    }
    @include responsive('mobile-h') {
        min-height: 586px;
        .bg{
            height: 100%;
            &:after{
                @include absolute;
                background-size: 700px auto;
                background: url(/images/pagehero-mobile.svg) no-repeat top center;
                background-size: 768px auto;
                content: '';
                display: block;
            }
            .img{
                height: 480px;
            }
            .after{
                display: none;
            }
        }
        .container_top{
            padding-top: 53px;
            min-height: 550px;
        }
        .pretitle{
            font-size: 12px;
            line-height: 20px;
            margin-bottom: 40px;

            span{
                display: block;
                width: 14px;
                height: 1px;
                background: #fff;
                font-size: 0;
                color: transparent;
                margin: 11px 0;
            }
            
        }

        .text{
            margin-left: 0;
            padding-bottom: 70px;

            .h2{
                font-size: 38px;
                line-height: 50px;
                margin-bottom: 15px;
            }
            p{
                margin-bottom: 10px;
            }
        }
    }
    
    &.in,
    .wp-admin & {
        .container{
            .pretitle, .title, .text, .container_top{
                @include fadein();
            }
        }
        .img{
            img{
                opacity: 1;
            }
            .after{
                svg{
                    path{
                        stroke-dashoffset: 0px;
                    }
                }
            }
        }
    }
}